.header-content h2 span {
  color: #01aa5a;
}

.image-benefit{
  width: 350px;
}
.card-benefit {
  width: 45%;
  padding: 8px 15px;
  background-color: rgba(1, 170, 90, 0.17);
  border-radius: 10px;
  p {
    line-height: 1.2em;
  }
}

@media (max-width: 375px) {
  .card-benefit {
    width: 90%;
  }
  .benefit-image img {
    width: 300px;
  }
}
