.tracking-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.tracking-form-control{
    height: 50px;
    border-radius: 50px;
    text-align: center;
}
.result-tracking{
    margin-top: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 20px;

    td{
        padding: 10px 5px;
    }
}
.image-tracking{
    

    @media (max-width: 768px) {
        height: 250px;
        width: 250px;
        margin-left: 50px;
        margin-bottom: 0px;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        margin-left: 60px;
    }
}